.grid-container{
  display: grid;
  grid-template-areas:
    'menu righttop'
    'menu rightbottom';
  gap: 0px;
  justify-content: center;
  // background-color: #2196F3;
  padding: 0px;
}
.item-1 { 
  grid-area: menu;
  transition: all .2s ease-in-out; 
}
.item-2 {
  grid-area: righttop;
  transition: all .2s ease-in-out; 
}
.item-3 {
  grid-area: rightbottom; 
  transition: all .2s ease-in-out; 
}

.item-1:hover { 
  transform: scale(1.1);
}

.item-2:hover { 
  transform: scale(1.1);
}

.item-3:hover { 
  transform: scale(1.1);
}